html, body{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	background: #141E30;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-attachment: fixed;
	padding: 0;
	scroll-behavior: smooth;
}


.form-box h2{
	text-align: center;
	letter-spacing: 20px;
	color: #fff;
	font-size: x-large;
	font-weight: bold;
	padding-bottom: 50px!important;
}

.form-box h2 b{
	color: #ce0037;
}

.btn{
	font-size: small;

}

.form-box{
	width: fit-content;
	height: fit-content;
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 60px;
	margin-top: 5rem!important;
	margin-bottom: 3rem!important;
	background-color: rgba(0,0,0,.5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.8);
	border-radius: 10px;
	margin-top: 20px;
	font-size: small;
}

.form-box .w-box{
	position: relative;
	padding-bottom: 20px;

}

.form-box .w-box input{
	width: 100%;
	padding: 10px 0;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
	font-size: small;
	border-radius: 0px;

}

.form-box .w-box select{
	width: 100%;
	padding: 10px 0;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
	font-size: small;
	border-radius: 0px;

}

.form-box .w-box label{
	position: absolute;
	top: -25px;
	left: 0;
	color: #ce0037!important;
	font-size: small;
	padding: 10px 0;
	color: #fff;
	pointer-events: none;
	font-weight: bold;
}


p{
	font-size: xx-small;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
}

.btn{
	margin-top: 40px;
	color: #fff;
	background-color: #ce0037;
	border-radius: 2px;
	letter-spacing: 2px;
	font-size: x-small;
	transition: .2s;
}

.btn:hover{
	transform: scale(1.05);
}

option{
	color: black;
}


.form-box .w-box input:focus{
	box-shadow: none;
}

.form-box .w-box select:focus{
	box-shadow: none;
}

.btn:focus{
	box-shadow: none;

}

.w-box input::placeholder{
	color: #fff!important;
}

.footer{
	left: 0;
	bottom: 0!important;
	width: 100%;
	text-align: center;
	padding-bottom: 5px;
}

/* width */
::-webkit-scrollbar {
	width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #0f161f;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ce0037;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #a90e37;
}